
<div class="container">
  <div class="text-center logo-content my-4">
    <img src="{{'assets/images/jcboy-logo.png'}}" alt="image" class="logo"/>
  </div>

  <h3>Bonjour</h3>

  <p>Il y a actuellement {{chargeurs.length}}
    Chargeur<span>{{chargeurs.length > 1 ? 's' : ''}}</span>
    inscrit<span>{{chargeurs.length > 1 ? 's' : ''}}</span>

    et {{transporteurs.length}}
    tansporteur<span>{{transporteurs.length > 1 ? 's' : ''}}</span>
    inscrit<span>{{transporteurs.length > 1 ? 's' : ''}}</span>
  </p>



</div>

